body{
  background:#f4f7f0;
  margin:1%;
  padding:1%; 
}
p{
  font-family:cursive;
  margin:5px auto;
  padding:1px 2px 1px 2px;
  text-align: center;
  display:block;
}
section p{
  display:block;
  width:60%;
  text-align: center;
  padding:1% 2% 1% 2%;
  height:100%;
  overflow:auto;
}
button{
padding:1px 2px 1px 2px;
width:300px;
height:50px;
text-align:center;
margin:5px auto;
display:block;
border-radius:25px;
}
button:hover{
color:white;
  background-color:#9ee88e;
  font-family:cursive;
}
.wrapper {
    text-align: center;
}
.button {
    margin:3% auto;
    display:block;
}
section,h1, button{
background: -moz- linear-gradient(top #a5e899 0%,#d17a0f 100%);
background: -webkit- linear-gradient(#a5e899 0%,#d17a0f 100%);
background: -o- linear-gradient(#a5e899 0%,#d17a0f 100%);
background: linear-gradient(#a5e899 0%, #d17a0f 100%);
}
